<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>레이아웃001</title>
    <!-- 외부 스타일시트 연결 -->
    <link rel="stylesheet" href="layout001-1.css">

    <!-- 그리드 가이드 -->
    <link rel="stylesheet" href="grid-guide.css">
</head>
<body>
    <header class="box1">
        <div class="box1-1">logo</div>
        <nav class="box1-2">
            <ul>
                <li><a href="#">meun1</a></li>
                <li><a href="#">meun2</a></li>
                <li><a href="#">meun3</a></li>
                <li><a href="#">meun4</a></li>
            </ul>
        </nav>
    </header>
    <div class="box2">박스2</div>
    <div class="box3">
        <div class="box3-inner">박스3</div>
    </div>
    <section class="box4">
        <div class="box4-inner">
            <article class="box4-1">이미지박스</article>
            <article class="box4-2">텍스트박스</article>
        </div>
    </section>
    <section class="box5">
        <div class="box5-inner">
            <article class="box5-1">이미지박스1</article>
            <article class="box5-2">이미지박스2</article>
            <article class="box5-3">이미지박스3</article>
        </div>
    </section>
    <div class="box6">박스6</div>
    <div class="box7">박스7</div>
    <div class="box8">
        <div class="box8-inner">
            <div class="box8-1">siteMap</div>
            <div class="box8-2">bottom_logo</div>
            <div class="box8-3">contactBox</div>
        </div>
    </div>
</body>
</html>