/* 언어설정 */
@charset 'utf-8';

/* reset */
* {margin: 0; padding: 0;}
a {text-decoration: none;
    color: #000;}

ul, ol {list-style: none;}
img {border: none; vertical-align: bottom;}




/* 박스1설정 */
.box1 {display: flex;
        justify-content: space-between;}
.box1-1 {width: 120px;}

.box1-2 {}
.box1-2 ul {display: flex;}
.box1-2 li {}
.box1-2 a {display: block;
    padding: 10px 20px;}







/* 미디어쿼리 구간############################# */
/* 1290px 이상일 때 구간을 설정 */
@media(min-width:1290px){
    
    /* body 고정값 1280px로 고정 */
    .box3-inner, .box4-inner, .box5-inner, .box8-inner {
        width: 1280px;
        margin: 0 auto;


    }



}