<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>레이아웃007_with쌤</title>

    <!-- 외부스타일시트연결 -->
    <link rel="stylesheet" href="layout007.css">

    <!-- 그리드가이드연결 
    <link rel="stylesheet" href="grid-guide.css"> -->

    <!-- 제이쿼리cdn -->
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script>
        $(document).ready(function(){
            
            
            
            // top을 클릭했을 때
            $('.top').click(function(){
                $('html,body').animate({'scrollTop':0},1800)





            })





        })
    </script>
</head>
<body>
    <div class="box1">
        <div class="box1-1">
            <div class="util">
                <ul>
                    <li><a href="#">login</a></li>
                    <li><a href="#">language</a></li>
                    <li><a href="#">search</a></li>
                </ul>
            </div>
        </div>
        <div class="box1-2">
            <header class="header">
                <h1>LOGO</h1>
                <span>&#8801;</span>
                <nav class="gnb">
                    
                    <ul>
                        <li><a href="#">menu1</a></li>
                        <li><a href="#">menu2</a></li>
                        <li><a href="#">menu3</a></li>
                        <li><a href="#">menu4</a></li>
                        <li><a href="#">menu5</a></li>
                        <li><a href="#">menu6</a></li>
                    </ul>
                </nav>
            </header>
        </div>
        <div class="box1-3">
            <div class="hero">
                <!--<div class="vid">
                    <video autoplay muted loop>
                        <source src="img/bg_vid.mp4">
                    </video> 
                </div>-->
                <div class="title">Lorem, ipsum dolor sit amet consectetur</div>
                <div class="txtBox">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Error impedit quo non obcaecati! In aliquam, impedit temporibus soluta totam quam nemo debitis hic quaerat autem, quos, corporis et. Debitis, harum.</div>
                <p class="more">more</p>
            </div>
        </div>
    </div>

    
    
    
    
    <div class="box2">
        <div class="box2-1">
            <strong>TITLE</strong>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Error reiciendis ea laborum hic ut inventore harum autem, tempora.</p>
            <span class="ico">아이콘</span>
        </div>
        <div class="box2-2">
            <strong>TITLE</strong>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Error reiciendis ea laborum hic ut inventore harum autem, tempora.</p>
            <span class="ico">아이콘</span>
        </div>
        <div class="box2-3">
            <strong>TITLE</strong>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Error reiciendis ea laborum hic ut inventore harum autem, tempora.</p>
            <span class="ico">아이콘</span>
        </div>
        <div class="box2-4">
            <strong>TITLE</strong>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Error reiciendis ea laborum hic ut inventore harum autem, tempora.</p>
            <span class="ico">아이콘</span>
        </div>
    </div>







    <div class="box3">
        <div class="inner3-1">
            <div class="box3-1">
                <div class="txtBox">
                    <strong>TITLE</strong>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Error reiciendis ea laborum hic ut inventore harum autem, tempora.</p>
                    <span class="mor"><a href="#">자세히보기</a></span>
                </div>
                <div class="imgBox">
                    <img src="img/pic01.jpg" alt="">
                </div>
            </div>
        </div>




        <div class="inner3-2">
            <div class="box3-2">
                <div class="txtBox">
                    <strong>TITLE</strong>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Error reiciendis ea laborum hic ut inventore harum autem, tempora.</p>
                    <span class="mor"><a href="#">자세히보기</a></span>
                </div>
                <div class="imgBox">
                    <img src="img/pic02.jpg" alt="">
                </div>
            </div>
        </div>



        
        <div class="inner3-3">
            <div class="box3-3">
                <div class="txtBox">
                    <strong>TITLE</strong>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Error reiciendis ea laborum hic ut inventore harum autem, tempora.</p>
                    <span class="mor"><a href="#">자세히보기</a></span>
                </div>
                <div class="imgBox">
                    <img src="img/pic03.jpg" alt="">
                </div>
            </div>
        </div>
    </div>








    <div class="box4">
        <div class="box4-1">
            <div class="map">
                <h3>Contents Us</h3>
                <div class="mapBox">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3164.1150052899675!2d126.9652518606424!3d37.52878619882333!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x357ca21b8f67ce03%3A0xdea67476b580dcf5!2z7JWE66qo66CI7Y287Iuc7ZS966-47Iig6rSA!5e0!3m2!1sko!2skr!4v1699413076143!5m2!1sko!2skr" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                    <ul>
                        <li>navigation1</li>
                        <li>navigation2</li>
                        <li>navigation3</li>
                    </ul>
                </div>
            </div>
            <div class="snsSet">
                <h3>SNS</h3>
                <ul>
                    <li><a href="#">Twitter</a></li>
                    <li><a href="#">Facebook</a></li>
                    <li><a href="#">Instagram</a></li>
                </ul>
            </div>
        </div>
        <div class="box4-2">
            <p>Copyright &copy; 2023. HYUNJU OH. All rights reserved</p>
        </div>
        <div class="top">   &#9650;</div>
        <div></div>



    </div>
</body>
</html>