<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- 외부스타일시트 연결 -->
    <link rel="stylesheet" href="layout004.css">
    
    <!-- 그리드 가이드 연결 
    <link rel="stylesheet" href="grid-guide.css">-->
</head>
<body>
    <!-- <svg id="visual" viewBox="0 0 900 600" width="900" height="600" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1"><g transform="translate(466.70882767697793 291.9615667628884)"><path d="M117.9 -119.6C149.1 -86.7 168 -43.4 181.7 13.7C195.4 70.7 203.8 141.4 172.6 170.3C141.4 199.1 70.7 186 17 169.1C-36.8 152.1 -73.5 131.2 -121.4 102.4C-169.2 73.5 -228.1 36.8 -227.4 0.7C-226.7 -35.4 -166.4 -70.7 -118.5 -103.5C-70.7 -136.4 -35.4 -166.7 4 -170.7C43.4 -174.7 86.7 -152.4 117.9 -119.6" fill="#bed2ab"></path></g></svg>
    <p class="img"><img src="https://picsum.photos/id/78/1000/1000" alt=""></p>

    <style>
        .img {width: 1000px;
            height: 1000px;
            background-color: red;
            border-radius: 80% 40% 60% 40%/ 40% 30% 20% 10%;
            overflow: hidden;}
    </style> -->






    <header class="box1">
        <div class="logo">
            <img src="img/MM_LOGO.png" alt="">
        </div>
        <div class="nav">
            <ul>
                <li>menu1</li>
                <li>menu2</li>
                <li>menu3</li>
                <li>menu4</li>
                <li>menu5</li>
                <li>menu6</li>
                <li>menu7</li>
                
            </ul>
        </div>
        <div class="util"><a href="#">Instgram</a></div>
    </header>
    <main id="wrap">
        <div class="box2">
            <div class="hero">
                <div class="txtBox">
                    <h2>Lorem ipsum dolor sit amet <br>
                        consectetur adipisicing elit?</h2>
                    <p><a href="#">자세히보기</a></p>
                </div>
                <div class="imgBox">
                    <!-- <svg id="visual" viewBox="0 0 900 600" width="50%" height="500" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1"><g transform="translate(462.1066650511867 287.3541504083407)"><path d="M181.5 -165.1C224.8 -138.1 242.4 -69.1 225.5 -16.9C208.7 35.4 157.4 70.7 114 108C70.7 145.4 35.4 184.7 -14.5 199.2C-64.3 213.7 -128.7 203.4 -178.7 166C-228.7 128.7 -264.3 64.3 -254.4 9.9C-244.5 -44.5 -189.1 -89.1 -139.1 -116.1C-89.1 -143.1 -44.5 -152.5 12.3 -164.8C69.1 -177.1 138.1 -192.1 181.5 -165.1" fill="#627197"></path></g></svg> -->
                    <img src="img/movie_1.jpg" alt="">
                </div>
            </div>
        </div>


        <div class="box3">
            <div class="titleBox">
                <h2>오늘의 영화</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt quos officiis consequuntur ullam rem eum <br>
                    perspiciatis nulla nesciunt exercitationem hic ipsa, quae praesentium tempora.</p>
            </div>
            <div class="listBox">
                <div class="listBox1">
                    <ul>
                        <li><img src="img/mm001.jpg" alt=""></li>
                        <h2>ROMANCE</h2>
                        <li> I LOVE YOU <br> I LOVE YOU, I LOVE YOU, I LOVE YOU, I LOVE YOU </li>
                    </ul>
                </div>

                <div class="listBox2">
                    <ul>
                        <li><img src="img/mm002.jpg" alt=""></li>
                        <h2>SF</h2>
                        <li>인류는 지구에서 태어났지만 <br>
                            여기서 죽지 않는다. </li>
                    </ul>
                </div>

                <div class="listBox3">
                    <ul>
                        <li><img src="img/mm003.jpg" alt=""></li>
                        <h2>THRILLER</h2>
                        <li>밤길 조심해, <br>
                            치면 나야. </li>
                    </ul>
                </div>
            </div>
        </div>



        <div class="box4">
            <div class="box4-inner">
                <div class="box4-1">
                    <div class="title">
                        <h2>40대 남성들이 자주 찾는 영화!!!</h2>
                    </div>
                    <div class="txt">
                        <p>Lorem ipsum dolor sit amet consectetur<br>
                            adipisicing elit. Iste ut, suscipit a molestiae<br> 
                            dolorem perspiciatis nulla exercitationem voluptatum qui voluptas amet voluptatibus. <br>
                            Obcaecati, porro. Aspernatur cupiditate nihil architecto autem iste!</p>
                    </div>
                    <div class="btn"><p><a href="#">BUTTON</a></p></div>
                </div>
                <div class="box4-2">
                    <ul class="listBox">
                        <li>
                            <h2>범죄도시3</h2>
                            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. <br>
                                unde reprehenderit iure explicabo magnam. <br>
                                Et consequatur consequuntur, quaerat vitae minus saepe.</p>
                        </li>
                        <li>
                            <h2>서울의 봄</h2>
                            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. <br>
                                unde reprehenderit iure explicabo magnam. <br>
                                Et consequatur consequuntur, quaerat vitae minus saepe.</p>
                        </li>
                        <li>
                            <h2>그대들은 어떻게 살 것인가</h2>
                            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. <br>
                                unde reprehenderit iure explicabo magnam. <br>
                                Et consequatur consequuntur, quaerat vitae minus saepe.</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="box5">
            <div class="box5-inner">
                <div class="titleBox">
                    <h2>Lorem, ipsum dolor</h2>
                    
                </div>
                <div class="txtBox">
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. <br>
                        unde reprehenderit iure explicabo magnam. <br>
                        Et consequatur consequuntur, quaerat vitae minus saepe.</p>
                    </div>
            </div>
        </div>
    </main>

</body>
</html>